.admin-layout-user-info {
  display: flex;
  align-items: center;

  &_avatar {
    width: 30px;
    height: 30px;
    background-color: var(--ant-color-primary);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  &_name {
    margin-left: 8px;
    color: #0c1531;
    font-size: 14px;
  }
}
